<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="FILE" fileName="src\part02\lesson16\log\logging.log" append="true">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
        <JDBC name="JDBCAppender" tableName="logs">
            <ConnectionFactory
                    class="part02.lesson16.util.ConnectorDB"
                    method="getConnection"/>
            <Column name="date" isEventTimestamp="true"/>
            <Column name="log_level" pattern="%level"/>
            <Column name="message" pattern="[%t] %C{2} (%F:%L) - %m%n"/>
            <Column name="exception" pattern="%ex{full}"/>
        </JDBC>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.log4j.xml" level="info"/>
        <Root level="info">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="JDBCAppender"/>
        </Root>
    </Loggers>
</Configuration>